<html>
<head>
	<title>Person Page</title>
</head>
<body>
	<p>
		<b>Name:</b><%=@person.name%>
	</p>
	<p>
		<b>Age:</b><%=@person.age%>
	</p>
	<p>
		<b>Alive?</b><%=@person.alive%>
	</p>
</body>
</html>